@model IEnumerable<Puc.Models.Produto>

@{
    ViewData["Title"] = "List";
}



@{
    int index = 0;
}
<link rel="stylesheet" href="~/css/cardapio.css">
<div>
    <h1>Nossos Lanches</h1>
</div>

@foreach (var item in Model)
{

    <div class="cardapio-item">
        <div class="info">
            <h4>Lanche: @Html.DisplayFor(modelItem => item.NomeProduto)</h4>
            <p>Preço: @Html.DisplayFor(modelItem => item.Preco)</p>
            <form asp-controller="Produtos" asp-action="AdicionarAoCarrinho" method="post">
                <input type="hidden" name="indice" value="@index" />
                <input type="submit" value="Adicionar ao Carrinho" />
            </form>
        </div>
        <img src="@Html.DisplayFor(modelItem => item.Imageurl)" />
    </div>
    index++;
}

<a href="@Url.Action("Carrinho", "Produtos")" id="link-carrinho">Ver Carrinho</a>
